.header img{
    height: 80px;
    
}
.header{
    text-align: center;
}
.header nav{
    background-color: rgb(89, 59, 226);
    line-height: 50px;
    font-size: 20px;
    text-align: left;   
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px;
    margin-left: 40px;
    
}
nav a:hover{
    background-color: gray;
    border-radius: 5px;
    color: rgb(255, 6, 6);
}